<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="navbar.js"></script>
  
  <link href="https://fonts.googleapis.com/css2?family=Gotu&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/css/homepage.css" type="text/css">

  <title>Blink Buff</title>
</head>
<body>
	
  <%- include('./partials/navbar') %>

  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9">
          <div class="banner_heading">
            <p id="welcome_heading" >Welcome to ,</p>
            <p id="blink_heading" >BLINK BUFF</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row mt-5">
      <div class="d-flex flex-row justify-content-between">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <img src="/images/banner2.svg" alt="" height="100%" width="100%">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 explore_hire_button">
          <a href="/collections"><button class="btn btn-warning btn-md">Explore Photos !</button></a>
          <br>
          <br>
          <a href="/"><button class="btn btn-success btn-md">Hire Us !</button></a>
          <br>
          <br>
          <a href="/auth/rolecheck"><button class="btn btn-primary btn-md">Contribute</button></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-12 col-md-12 col-sm-12 photo_collection_heading d-flex flex-row justify-content-center">
        <p>Photo Collection</p>
      </div>
    </div>
  </div>


<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="d-flex flex-row">
        <% for (var i = len-1; i >= 0; i--) { -%>
          <% let temp = images[i].image; %>
          <%  let photo = temp.toString('base64'); %>
          <%  let pic = 'data:image/jpeg;base64,' + photo; %>
          <div>
            <img src="<%= pic %>" alt="<%=images[i].title%>" class="gallery" />
          </div>

          <div class="d-flex flex-row mb-3">
              <div class="col-lg-10 col-md-10 col-sm-10 d-flex flex-column justify-content-start">
                <div>
                  <span><small><strong>Title : </strong><%=images[i].title%></span></small>
                </div>

                <div>
                  <span><small><strong>Author : </strong><%=images[i].author%></span></small>
                </div>
              </div>

              <div class="col-lg-2 col-md-2 col-sm-2 d-flex justify-content-end align-items-center">
                <span><button class="btn btn-sm btn-info">View</button></span>
              </div>
          </div>
        <% } -%>
      </div>
    </div>
  </div>
</div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 photo_collection_heading d-flex flex-row justify-content-center">
        <a href="/collections"><button class="btn btn-lg btn-success">View More</button></a>
      </div>
    </div>
  </div>
  <br>

<div class="d-flex flex-row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="d-flex flex-column ">
      <div class="d-flex justify-content-center">
        <p class="follow_heading">Follow Us : </p>
      </div>
      <div class="d-flex justify-content-center">
        <ul>
            <li class="mb-3"><a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
            <li><a href="https://instagram.com/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
          </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6 d-flex">
    <img src="/images/selfie.svg" alt="Follow Us" class="selfie_svg">
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>